{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}


        {{ master_form |crispy }}


        <div class="form-group">
            <fieldset>
                <legend>List ingredients :</legend>
                {% for el in listqntingr %}
                <div class="form-group">
                    <input type="checkbox" id="{{el}}" name="listqntingr" value="{{el}}" checked>
                    <label for="{{el}}">{{el}}</label>
                </div>
                {% endfor %}
            </fieldset>


            {{ qntingredient_form|crispy}}
            <div class="form-group">
                <button class="btn btn-outline-info" name="btn_add_qnt_ingredient" type="submit">
                    Ajouter
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" name="master" type="submit">
                    Envoyer en cuisine !
                </button>
            </div>

            {% comment %} Ajouter un Materiel {% endcomment %}
            <div class="form-inline">
                {{ material_form.material.errors }}
                <label for="{{ material_form.material.id_for_label }}">Ajouter Materiel :</label>
                {{ material_form.material }}
                <button class="btn btn-outline-info" name="btn_material" type="submit">+</button>
            </div>

            {% comment %} Ajouter un ingredient {% endcomment %}
            <div class="form-inline">
                {{ ingredient_form.ingredientadd.errors }}
                <label for="{{ ingredient_form.ingredientadd.id_for_label }}">Ajouter Ingrédient :</label>
                {{ ingredient_form.ingredientadd }}
                <button class="btn btn-outline-info" name="btn_ingredient" type="submit">+</button>
            </div>

    </form>

</div>
{% endblock content %}