{% extends 'base.html' %}
{% block content %}
    <h1>{{ recipe.name }}</h1>
    <ul class="list-group">
        <li class="list-group-item">Créé le : {{recipe.created_on|date:"l j F, Y"}}</li>
        <li class="list-group-item">Modifié le : {{recipe.last_modifed_on|date:"l j F, Y"}}</li>
        <li class="list-group-item">Autheur : {{ recipe.author }}</li>
        <li class="list-group-item">Préparation : {{ recipe.prep_time }} minute{{recipe.prep_time|pluralize}}</li>
        <li class="list-group-item">Matériel{{recipe.material.all|pluralize}} : 
            <ul class="list-group">
                {% for mat in recipe.material.all %}
                    <li class="list-group-item">{{mat.material}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">Ingrédient{{ingredients.all|pluralize}}: 
            <ul class="list-group">
                {% for ingr in ingredients.all %}
                    <li class="list-group-item">{{ingr.ingredient}} x {{ingr.quantity}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">Portions : {{ recipe.nb_servings }}</li>
        <li class="list-group-item">Instructions: {{recipe.instruction}}</li>
    </ul>
{% endblock content %}
